### kaggle link about the dataset --> [link](https://www.kaggle.com/datasets/mragpavank/heart-diseaseuci?resource=download)
#### Small Dataset with 303 data points

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, f1_score, recall_score, precision_score, confusion_matrix
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv(r'heart.csv')

In [3]:
df.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [5]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [6]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [7]:
# Checking the distibution of target 
df.target.value_counts()

target
1    165
0    138
Name: count, dtype: int64

1 -> Defective Heart
0 -> Healthy heart

### splitting Features and Target

In [8]:
x = df.drop(columns='target', axis=1)
y = df.target

In [9]:
print(x)
print(y)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]
0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

### Splitting Training and Testing

In [20]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, stratify=y, random_state=2)

In [11]:
x_train.shape, x_test.shape, x.shape

((227, 13), (76, 13), (303, 13))

### Model Training

In [21]:
model= LogisticRegression()

In [22]:
model.fit(x_train,y_train)

LogisticRegression()

### Model Evaluation

In [23]:
train_pred = model.predict(x_train)

In [24]:
train_acc = accuracy_score(y_train,train_pred)
print(f"\nTraining Accuracy: {train_acc}") #\n\nTraining Confusion Matrix: \n{train_conf}

Training Accuracy: 0.8512396694214877

In [25]:
y_pred = model.predict(x_test)
acc = accuracy_score(y_test, y_pred)
print(f"\nAccuracy: {acc}")

Accuracy: 0.819672131147541

Model is slightly overfit, Since The Dataset is small for the time being we are not considering the difference in the performance of the model

### Predictive Model

In [26]:
# inp = (38,1,2,138,175,0,1,173,0,0,2,4,2)

def pred(inp):
    # Reshaping as numpy array
    inp_data = np.asarray(inp)
    
    # Reshaping the array to make prediction for one instance
    inp_re = inp_data.reshape(1,-1)
    
    # prediction
    res = model.predict(inp_re)
    
    if res[0]==0:
        return "The Person Does Not Have Heart Disease"
    else:
        return "The Person has Heart Disease"

# 38,1,2,138,175,0,1,173,0,0,2,4,2 -->1
# 67,1,0,160,286,0,0,108,1,1.5,1,3,2 -->0

In [28]:
# Heart Disease
a=(38,1,2,138,175,0,1,173,0,0,2,4,2)
print('A -->',pred(a))

# Healthy Heart
b=(67,1,0,160,286,0,0,108,1,1.5,1,3,2)
print('B -->',pred(b))

A --> The Person has Heart Disease
B --> The Person Does Not Have Heart Disease